.page-cart{
	padding:20px 40px;
}
.page-cart label{
	text-indent: 20px;
}
.tab-content{
	margin-top:40px;
}
.cart-row{
	padding:24px 0px;
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #e2ecf4;
	text-indent: 20px;
}