.cart-list .main{
	max-height: 850px;
	overflow: scroll;
}
.cart-list .srow{
    background-color: #fff;
}
.cart-list .row{
	margin-top: 40px;
}
.picker{
	background-color: light;
	padding: 20px 30px;
	font-size: 34px;
	color: #000;
}